@charset "utf-8";
body, html {
    height: 100%;
    /* The image used */
    background-image: url(squid-game.gif);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  